<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Edit Employee</h2>

<form th:action="@{/update}" th:object="${emp}" method="post">

ID:
<input type="text" th:field="*{empId}" readonly/>
<br><br>

Name:
<input type="text" th:field="*{empName}"/>
<span th:errors="*{empName}" style="color:red"></span>
<br><br>

Salary:
<input type="text" th:field="*{empSal}"/>
<span th:errors="*{empSal}" style="color:red"></span>
<br><br>

DOJ:
<input type="date" th:field="*{empDoj}"/>
<span th:errors="*{empDoj}" style="color:red"></span>
<br><br>

Dept:
<input type="text" th:field="*{deptName}"/>
<span th:errors="*{deptName}" style="color:red"></span>
<br><br>

<button type="submit">Save</button>

</form>

</body>
</html>